github "robbiehanson/CocoaAsyncSocket" ~> 7.5.1
github "CocoaLumberjack/CocoaLumberjack" ~> 3.0.0
github "Goodwowo/Sodium-framework"
github "Goodwowo/MMDB-Swift"
github "behrang/YamlSwift" ~> 3.0.0
github "Goodwowo/tun2socks"
github "Goodwowo/Resolver"
